@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&display=swap');

:root {
	--white: #ECECEC;
	--gray: #B0B0B0;
	--darkGray: #333333;
	--black: #242424;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
	color: var(--white);
	background: var(--black);
}

a {
	color: var(--gray);
	text-decoration: underline;
	text-underline-offset: 2px;
	opacity: 0.7;
	transition: 0.2s;
}
a:hover {
	opacity: 1;
	transition: 0.2s;
}

button {
	width: fit-content;
	padding: 10px 18px;
	color: var(--white);
	background: var(--darkGray);
	filter: brightness(100%);
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: 0.3s;
}
button:hover {
	filter: brightness(110%);
	transition: 0.3s;
}

.flex {
	display: flex;
}
.flexCol {
	flex-direction: column;
}
.flexRow {
	flex-direction: row;
}

.containerBlock {
	width: 100%;
	height: 100%;
	padding: 30px 0;
	display: flex;
	align-items: start;
	justify-content: center;
}

.container {
	height: auto;
	width: 95%;
}
.container h1 {
	font-size: 20px;
}


.pageContent {
	height: 100%;
	width: calc(100% - 350px);
	background: #242424;
	align-items: center;
	justify-content: start;
	overflow: auto;
}

#menubar {
	height: 70px;
	width: 100%;
	background: var(--darkGray);
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
}

#navmenu {
	height: 100%;
	width: 350px;
	background: #2C2C2C;
	align-items: center;
	justify-content: center;
}

.navLink {
	width: calc(100% - 40px);
	padding: 15px 20px;
	opacity: 1;
	text-decoration: none;
	color: #ECECEC;
	align-items: center;
	gap: 15px;
	border-radius: 5px;
	transition: 0.3s;
}
.navLink:hover {
	background: #333333;
	transition: 0.3s;
}

.navLinkActive {
	width: calc(100% - 40px);
	padding: 15px 20px;
	opacity: 1;
	text-decoration: none;
	color: #242424;
	background: #ECECEC;
	align-items: center;
	gap: 15px;
	border-radius: 5px;
	transition: 0.3s;
}


.gameTitle {
	font-size: 20px;
}
.gameTitle a {
	color: var(--white);
	width: max-content;
	text-decoration: none;
	opacity: 1;
	align-items: center;
	gap: 10px;
}
.gameTitle i {
	color: #3790D0;
	font-size: 14px;
}

.iframe {
	height: 75vh;
	width: calc(100% - 4px);
	background: #B0B0B0;
	border: 2px solid #3790D0;
	border-radius: 5px;
}
.iframe iframe {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}


details {
	display: flex;
}

details summary {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	padding: 8px 25px;
	border-radius: 5px;
	background: var(--darkGray);
	gap: 20px;
	cursor: pointer;
	transition: 0.3s;
}
details summary:hover{
	background: #404040;
	transition: 0.3s;
}

details[open] summary{
	background: #404040;
	border-radius: 5px 5px 0 0;
	transition: 0s;
}

details form {
	display: flex;
	flex-direction: column;
	height: auto;
	padding: 30px 25px;
	border-radius: 0 0 5px 5px;
	background: #2C2C2C;
	gap: 15px;
}

details form input {
	padding: 12px 15px;
	border-radius: 5px;
	color: #B0B0B0;
	background: #333333;
	border: none;
	outline: none;
	transition: 0.3s;
}
details form input:focus {
	background: #424242;
	transition: 0.3s;
}

details button {
	background: #3790D0;
	padding: 12px 22px;
}



.linkTile {
	align-items: center;
	justify-content: space-between;
	height: 40px;
	color: var(--white);
	background: var(--darkGray);
	padding: 8px 25px;
	border-radius: 5px;
	text-decoration: none;
	opacity: 1;
	gap: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.linkTile:hover{
	background: #404040;
	transition: 0.3s;
}



.entertainmentCard{
	opacity: 0.7;
	transition: 0.2s;
}
.entertainmentCard:hover{
	opacity: 1;
	cursor: pointer;
	transition: 0.2s;
}